/*
!/src/
!/!refs/
!.gitignore
!settings.gradle
!gradlew*
!/gradle/
!/LICENSE.txt
!/README.md
!build.gradle
!.travis.yml
!/textures/
!/gradle.properties
!.gitattributes
!ASSETS_LICENSE.txt

src/generated/resources/\.cache/